* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;     /* чтобы создать сетку грид-контейнеру надо написать свойство дисплэй грид */
    /* grid-template-columns: 200px 200px 200px;     - 3 колонки по 200px каждая, 
    колонки могут быть разного размере и в разных единицах измерения например: 20em 250px 200px или 50% 250px 200px */
    /* grid-template-columns: 20em 250px 200px; */
    /* grid-template-columns: 50% 250px 200px; */
    /* grid-template-rows: 60px 60px 60px;  - 3 строки по 60px каждая,
    получилась сетка с ячеками 60*200px но в грид-элементе написана высота 50px поэтому в сетке есть элемент и пустое место зазор, но сама сетка создана без зазоров */

    /* grid-template-columns: 200px 200px 300px; grid-template-rows: 60px 150px 60px;  - оптимизированно превращено в grid-template: 60px 150px 60px / 200px 200px 300px; */

    /* оптимизация: чтобы задавать колонки и строки вместо grid-template-columns и grid-template-rows можно использовать grid-template: rows / columns; например:  grid-template: 60px 150px 60px / 200px 200px 300px; */
    grid-template: 60px 150px 60px / 200px 200px 300px;
    /* 10 элемент вывалился из сетки так как я ввела 3 колонки и 3 строки - что с этим делать узнаю позже */
    /* грид-элементы иногда называют треками. трек - это такая область которая ограничена всеми линиями. */

    /* gap - свойство для создания разрывов между элементами сетки. [gap (гэп) - по-английски "разрыв"] - для создания расстояния между элементами, могут быть по горизонтали и по вертикали и задается свойством grid-column-gap: 20px;*/
    /* grid-column-gap: 20px;  - VScode зачеркивает это свойство! но оно работает.
    почему? некоторые свойства с течением времени меняются в css - это нормально когда технология только появилась в браузерах.
    если навести на свойство то вскод подсказывает: 
    - что это свойство делает
    - что это свойство уже было заменено и его необходимо НЕ использовать
    - написано на что это свойство было поменяно (replaced by "column-gap") 
    т.е. свойство grid-column-gap работает в браузерах, но использовать уже не нужно в проектах и поэтому ставим column-gap */
    column-gap: 20px; /* разрыв между колонками  */
    row-gap: 20px; /* разрыв между строками  */
    /* оптимизация: объединение column-gap и row-gap просто в gap: 20px; (раньше использовалось grid-gap но устарело - это написано в документации https://developer.mozilla.org/ru/docs/Web/CSS/gap и используется только для совместимости) */
    /* как эта технология поддерживается в браузере? захожу на caniuse.com и пишу "css grid" - общая поддержка браузеров global примерно 96% */
    /* гриды - это НЕ замена флексам (это разные технологии)
    гриды могут выравнивать элементы 
    и флексы могут выравнивать элементы, 
    но в гридах можно создавать шаблоны для проектов.
    в одном проекте МОЖНО совмещать гриды и флексы.
    одна технология (скорей всего гриды) - будет формировать каркас проекта,
    другая технология (скорей всего флексы) - выравнивать некоторые элементы. 
    (? какая технология что позволяет - не поняла) 
    гриды - для чего-то большого например весь сайт или сложная секция, а флексы для чего-то маленького (неправильно использовать флексы для чего-то большого, а внутри для чего-то маленького гриды) */
}

.grid-elem {
    height: 50px;
    background-color: rgba(1, 1, 96, 1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}